.product-details {
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  overflow: auto;
  border: 2px solid white;
  width: 400px;
  height: 100vh;
  color: rgb(0, 0, 0);
  text-align: start;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  h2 {
    font-size: 30px;
  }
  p {
    margin-top: 15px;
    font-size: 20px;
  }
}
.g strong {
  color: rgb(253, 138, 6);
}
.g p {
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
.g {
  display: flex;
  align-items: center;
}
.espera {
  color: white;
}
