@font-face {
  font-family: "mundo";
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  /* Ajusta la ruta al archivo de tu fuente */
}

* {
  font-family: "mundo";
}

.App {
  display: flex;
}
.qrMap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.computers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.qrItem {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 30px 5px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.75);
}
.btn {
  margin-bottom: 15px;
}
ul {
  display: flex;
  li {
    list-style: none;
    font-family: sans-serif;
    margin-right: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
  }
}
.nav {
  width: 200px;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
}

.nav ul {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav ul li {
  width: 95%;
  margin: 0;
  text-align: center;
  margin-top: 20px;
  border: 1px solid white;
}
.nav a {
  text-decoration: none;
  width: 95%;
}
.nav a li {
  width: 100%;
  color: white;
}

.contenido {
  height: 100vh;
  overflow-x: auto;
  width: calc(100vw - 200px);
}

.titular {
  display: flex;
  height: 80px;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(20, 20, 20);
  color: white;
}
.titular h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.nav ul img {
  margin-top: 25px;
  margin-bottom: 10px;
}
.usuario {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.usuario p {
  font-weight: bold;
  color: rgb(253, 138, 6);
}
.computers {
  padding: 0 100px;
  margin-top: 20px;
}
